*.o
*.a
*.so
*.obj
*.lib
*.dll
*.cm[ioxat]
*.cmx[as]
*.cmti
*.annot
*.exe
*.exe.manifest
.depend
.depend.nt
.DS_Store
*.out
*.out.dSYM
*.swp
.omakedb
.omakedb.lock
*.omc
_build/
*.native
*.opt
*.byte
*.docdir
setup.data
setup.log
vendor/
tmp/
configure
Makefile
setup.ml
